footer section p{
    font-size: 1.4rem;
    text-align: center;
    font-family: 'IBM Plex Mono', monospace;
}
.ul_footer{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding-inline-start: 0px; 
}