footer section p{
    font-size: 1.4rem;
    text-align: center;
    font-family: 'IBM Plex Mono', monospace;
}
.ul_footer{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding-inline-start: 0px; 
}

@media screen and (min-width: 1000px){
    .section_footer{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .section_footer p{
        padding-left: 10%;
        font-size: 1.2rem;
    }
    .ul_footer{
        padding-right: 10%;
        padding-top: 1%;
        text-align: center;
    }
    .ul_footer li{
        padding-left: 3vw;
    }
}