.nav-var{
    input{
        &:checked ~ ul{
            background-color: red;
            height: 240px;
        }
    }
}

.ul-nav{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin-right: 6.9%;
    height: 0;
}

.item-header{
    margin-left: 3.3%;
    color: #060A24;
    font-size: 16px;
}

.logo{
    position: absolute;
    margin-left: 6.9%;
}
@media screen and (max-width: 320px){
    .ul-nav{
        display: none;
    }
    
    /*.logo{
        position: 
    }*/
}
// header section{
//     overflow: hidden;
// }

// .logo{
//     float: left; 
//     margin-left: 6.9%; 
// }

// .nav-var{
//     text-align: right;
//     float: right;
//     display: inline-block;
//     vertical-align: middle;
//     width: 75%;
// }

// .ul-nav{
//     margin-top: 0;
//     list-style: none;
//     margin-right: 6.9%;
// }

// header{
//     background-color: #ffffff;
// }

// .item-header{
//    float: right;
//    margin-left: 3.3%;
//    color: #060A24;
//    font-size: 16px;
//    justify-content: flex-end;
// }

// .item-header:hover{
//     background-color: red;
// }
