:root{
    font-size: calc(8px + 0.55vw);
}

header ul{
    display: none;
    
}
@media screen and (min-width: 1000px){
    .ul-nav{
        list-style: none;
        display: flex;
        justify-content: flex-end;
        margin-right: 6.9%;
        height: 0;
    }
    
    .item-header{
        margin-left: 3.3%;
        color: #060A24;
        font-size: 1rem;;
    }
    
    .logo{
        position: absolute;
        margin-left: 6.9%;
    }
}